@charset "UTF-8";

:root
{
  --color-body: #d4d4d4;

  --color-gallery-link-download: #c36897;
  --color-gallery-link-download-hover: #db5e9f;
  
  --color-border-main: #232222;

  --color-link-download: #5b5b5b;
  --color-link-download-visited: #3a3a3a;

  --color-link-file: #efdfde;
  --color-link-file-visited: #bcadac;

  --color-link-media-file: #eb518b;
  --color-link-media-file-hover: #eb518b;
  --color-link-media-file-visited: #954e83;

  --color-link-dir-regular: #63bdff;
  --color-link-dir-parent: #16febd;

  --color-background-gallery-list-selected: rgba(235, 81, 139, 0.25);
  --color-background-gallery-list-selected-hover: rgba(235, 81, 139, 0.25);

  --color-gallery-list-item-hover: #fff;
  --color-background-gallery-list-item-hover: #2c222c6b;

  --color-border-gallery-list-selected: #fbfcff;
  --width-border-gallery-list-selected: 5px;

  --color-gallery-list-item: #bcbcbc;
  --color-gallery-list-item-selected: #fff;

  --color-background-gallery-container: rgba(0, 0, 0, 0.45);
  --color-background-gallery-topbar: #161616ed;

  --color-table-header: #fff;
}