@charset "UTF-8";

:root
{
  --color-background-body: #171717;
  --color-gallery-link-download: #6377a6;
  --color-gallery-link-download-hover: #6377a6;
  --color-link-download: #6377a6;
  --color-link-download-visited: #526389;
  --color-link-file: #efdfde;
  --color-link-file-visited: #bcadac;
  --color-link-media-file: #bd9cbc;
  --color-link-media-file-hover: #daa0d8;
  --color-link-media-file-visited: #715770;
  --color-link-dir-regular: #eed486;
  --color-link-dir-parent: #ff8361;
  --color-background-gallery-list-selected: rgba(44, 54, 81, 0.40);
  --color-background-gallery-list-selected-hover: rgba(44, 54, 81, 0.50);
  --color-background-gallery-list-item-hover: rgba(44, 54, 81, 0.20);
  --color-border-gallery-list-selected: #fff;
  --gallery-blur: blur(2px);
}

body > table tr > td
{
  padding: 6px 0px 6px 0px;
}

body > table tr:not(:first-child) > td
{
  border-top: 1px solid #171717;
}