public/indexer/fonts/* linguist-vendored=true

public/indexer/js/jquery.js linguist-vendored=true
public/indexer/js/modernizr-mq.js linguist-vendored=true

.source/indexer/fonts/* linguist-vendored=true

.source/indexer/js/jquery.js linguist-vendored=true
.source/indexer/js/modernizr-mq.js linguist-vendored=true