@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('./FantasqueSansMono-Regular.woff2') format('woff2'),
       url('./FantasqueSansMono-Regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
       url('./FantasqueSansMono-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./FantasqueSansMono-Regular.svg#FantasqueSansMono-Regular') format('svg'); /* Chrome < 4, Legacy iOS */
  font-weight: 700;
  font-style: normal;
}

body,
html {
  font-family: 'Fantasque Sans Mono';
  background-color: #282828 !important;
  color: #fbf1c7 !important;
}

html > body > div.tableContainer > table > thead > tr {
  background-color: #1d2021 !important;
}

html > body > div.menu {
  background-color: rgb(24, 27, 28) !important;
}

html > body > div.menu > div:hover {
  background-color: #23292b !important;
}

body > div.path a {
  color: #83a598 !important;
  font-weight: normal !important;
}

.topBar {
  color: #a89984 !important;
  background-color: #1d2021e6 !important;
  box-shadow: 0 0 3px #0d0d0d69 !important;
}

body > div.tableContainer {
  border-top: 1px solid #1d2021 !important;
  background-color: #1d2021 !important;
}

body > div.tableContainer > table {
  background-color: #1d2021 !important;
}

html > body:not([is-loading]) > div.tableContainer > table > tbody > tr:not(.parent):hover {
  background-color: rgb(37, 43, 45) !important;
}

body > div.tableContainer > table thead tr {
  border-bottom: none !important;
}

body > div.tableContainer > table thead tr th {
  color: #d5c4a1 !important;
}

body > div.tableContainer > table tbody tr.file td a.preview {
  color: #83a598 !important;
}

body > div.tableContainer > table tbody tr.file td a.preview:visited {
  color: #458588 !important;
}

body > div.tableContainer > table tbody tr.file td.download a {
  color: #83a598 !important;
}

body > div.tableContainer > table tbody tr.file td.download a:visited {
  color: #458588 !important;
}

.settingsContainer {
  background-color: #282828 !important;
}

.settingsContainer > .wrapper > div.section > div.header {
  background-color: #1d2021 !important;
  color: #fbf1c7 !important;
}

select:not(.default) {
  background-color: #1d2021 !important;
  /* color: #ed !important; */
}

.settingsContainer > div.bottom {
  background-color: #1d2021 !important;
}

.settingsContainer > div.bottom > div:hover {
  background-color: #458588 !important;
}

.rootGallery div.galleryContent .list {
  background-color: #282828 !important;
}

.rootGallery div.galleryContent .list table tr.selected td:hover {
  background-color: #458588 !important;
}

.rootGallery div.galleryContent .list table tr.selected td {
  background-color: #83a598 !important;
}

.rootGallery div.galleryBar {
  background-color: #1d2021 !important;
  border-bottom: 2px solid hsl(197.1, 8%, 17.1%) !important;
}

html > body > .rootGallery > div.galleryContent > div.list > table > tbody > tr:not(.selected) > td:hover {
  background-color: rgb(57, 55, 55) !important;
}

.readmeContainer {
  background-color: #1d2021 !important;
  border-top: none !important;
  border-bottom: none !important;
}

.readmeContainer::before {
  color: #a89984 !important;
  background-color: #232627 !important;
  border-bottom: none !important;
}

body > div.bottom {
  color: #a89984 !important;
}

body > div.bottom a {
  color: #83a598 !important;
}

@media only screen and (min-width: 768px)
{
  html > body.compact {
    border: 1px solid #1d2021 !important;
  }
}
