.readme-container
{
    background-color: var(--color-background-table);
    margin-bottom: 18px;
    border-top: 1px solid var(--color-border-main);
    border-bottom: 1px solid var(--color-border-main);
}

.readme-container > div.readme-inner
{
    padding: 5px 8px;
}

.readme-container a
{
    text-decoration: none;
    color: var(--color-body);
    font-weight: bold;
}

.readme-container a:hover
{
    text-decoration: underline;
    color: #5e74ea;
}

.readme-container::before
{
    content: 'README.md';
    background-color: #15161e;
    display: block;
    padding: 3px 8px 5px 6px;
    color: #939498;
    border-bottom: 1px solid #151822;
}