.readme-container
{
    background-color: #121318;
    margin-bottom: 18px;
    border-top: 1px solid #19191d;
    border-bottom: 1px solid #19191d;
}

.readme-container pre
{
    white-space: pre-wrap;
}

.readme-container > div.readme-inner
{
    padding: 5px 8px;
}

.readme-container a
{
    text-decoration: none;
    color: #d6d3ce;
    font-weight: bold;
}

.readme-container a:hover
{
    text-decoration: underline;
    color: #5e74ea;
}

.readme-container::before
{
    content: "README.md";
    background-color: #15161e;
    display: block;
    padding: 3px 8px 5px 6px;
    color: #939498;
    border-bottom: 1px solid #151822;
}