body
{
    background-color: #131213!important;
}

body > div.path
{
    color: #8e8e8e!important;
}

html > body > div.topBar
{
    background-color: rgba(27, 26, 32, 0.65)!important;
    color: #b7acc8!important;
    box-shadow: 0 0 3px #0d0d0d29!important;
}

html > body > div.tableContainer
{
    background-color: #151415!important;
}

body > div.tableContainer > table tr.file a.preview, body > div.tableContainer > table tr.file a.preview:hover {
    color: #8d6ec8!important;
}

body > div.tableContainer > table tr.file a.preview:visited {
    color: #5e5179!important;
}

body > div.tableContainer > table tr.directory a {
    color: #f86f8d!important;
}

body > div.tableContainer > table tr.parent a {
    color: #ffc561!important;
}

body > div.tableContainer > table tr.file td.download a {
    color: #8d6ec8!important;
}

body > div.tableContainer > table tr.file td.download a:visited {
    color: #5e5179!important;
}

body > div.tableContainer > table > tbody > tr:not(.parent):hover {
    background-color: rgb(27, 26, 28)!important;
}

body > div.tableContainer > table {
    background-color: #151415!important;
}

body > div.tableContainer > table > thead > tr {
    background-color: #151415!important;
    border-bottom: 2px solid transparent!important;
}

body.compact > div.path {
    text-align: center!important;
}

body > div.path a {
    color: #beaadb!important;
    font-weight: normal!important;
}

.rootGallery {
    background-color: rgba(9, 6, 13, 0.8)!important;
}

.rootGallery div.galleryContent .list table tr.selected td {
    background-color: #342d4294!important;
}

.rootGallery div.galleryContent .list table tr.selected td:hover {
    background-color: #342d4294!important;
}

.rootGallery div.galleryContent .list table tr:not(.selected) td:hover {
    background-color: #342d422e!important;
}

.rootGallery > div.galleryBar > .galleryBarRight > a.download {
    color: #8d6ec8!important;
}

.rootGallery > div.galleryBar > .galleryBarRight > a.download:hover {
    color: #9872e1!important;
}