body > div.tableContainer > table tr.file a.preview, body > div.tableContainer > table tr.file a.preview:hover {
    color: #8d6ec8!important;
}

body > div.tableContainer > table tr.file a.preview:visited {
    color: #443660!important;
}

body > div.tableContainer > table tr.directory a {
    color: #f86f8d!important;
}

body > div.tableContainer > table tr.parent a {
    color: #ffc561!important;
}

body > div.tableContainer > table tr.file td.download a {
    color: #8d6ec8!important;
}

body > div.tableContainer > table tr.file td.download a:visited {
    color: #3e2b38!important;
}

body.compact > div.path {
    text-align: center!important;
}

body > div.path a {
    color: #ab8fdf!important;
    font-weight: normal!important;
}

.rootGallery div.galleryContent .list table tr.selected td {
    background-color: #342d4294!important;
}

.rootGallery div.galleryContent .list table tr.selected td:hover {
    background-color: #342d4294!important;
}

.rootGallery div.galleryContent .list table tr:not(.selected) td:hover {
    background-color: #342d422e!important;
}