@charset "UTF-8";

@font-face
{
	font-family: 'LiberationMonoRegular';
	src: url('../fonts/LiberationMonoRegular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

:root
{
	--height-gallery-top-bar: 31px;

	--color-background-body: #181818;
	--color-background-table: #191919;
	--color-body: #fff;

	--color-gallery-border: #161616de;

	--color-gallery-link-download: #4975ff;
	--color-gallery-link-download-hover: #6389ff;

	--color-border-main: #232222;

	--color-link-download: #436beb;
	--color-link-download-visited: #7751eb;

	--color-link-file: #9b9b9b;
	--color-link-file-visited: #757575;

	--color-link-media-file: #517eeb;
	--color-link-media-file-hover: #5486ff;
	--color-link-media-file-visited: #7751eb;

	--color-link-dir-regular: #e93333;
	--color-link-dir-parent: #feac16;

	--color-gallery-list-item: #d4d4d4;
	--color-gallery-list-item-selected: #fff;

	--color-background-gallery-list-selected: #1b3b88;
	--color-background-gallery-list-selected-hover: #234597;

	--color-border-gallery-list-selected: #fbfcff;
	--width-border-gallery-list-selected: 5px;

	--color-gallery-list-item-hover: auto;
	--color-background-gallery-list-item-hover: rgba(44, 54, 81, 0.20);

	--color-gallery-topbar: #fff;

	--color-background-gallery-container: rgba(0, 0, 0, 0.5);
	--color-background-gallery-topbar: #181818ab;

	--color-table-header: #fff;

	--gallery-blur: blur(3px);
}

*,
*:before,
*:after
{
	box-sizing: inherit;
}

.ns,
body > table [sortable],
.gallery-container div.content-container .list table tr td,
.gallery-container div.bar .right span[data-action],
.gallery-container div.bar .right a,
.gallery-container div.content-container .media .wrapper,
.gallery-container div.content-container .media
{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/** main.css **/

body, input, select, select > option
{
	font-family: 'LiberationMonoRegular';
	font-weight: normal;
}

body, html
{
	background-color: var(--color-background-body);
}

body
{
	font-size: 13px;
	color: var(--color-body);
	position: relative;
	padding-top: calc(var(--height-gallery-top-bar) - 2px);
	margin: 0;
}

@media only screen and (min-width: 640px)
{
  body.compact
  {
    min-width: 640px;
    width: auto;
    max-width: 960px;
    margin: 0 auto;

    border: 1px solid var(--color-border-main);

    margin-bottom: 20px;
  }
}

body > div.path
{
	font-style: italic;
	font-size: 18px;
	margin: 12px 0px 12px 8px;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

body > div.path a
{
	font-style: normal;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

body > div.path a:hover
{
	text-decoration: underline;
}

div.top-bar > div.directory-info > div.quick-path
{
	max-width: 50vw;
	display: none;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
}

div.top-bar > div.directory-info > div.quick-path a
{
	color: white;
	text-decoration: none;
}

div.top-bar > div.directory-info > div.quick-path a:hover
{
	text-decoration: underline;
}

body > table
{
	width: 100%;
	table-layout: fixed;
	padding-bottom: 10px;
	padding-top: 10px;
	border-spacing: 0px;
	border-bottom: 1px solid var(--color-border-main);
	border-top: 1px solid var(--color-border-main);
	background-color: var(--color-background-table);
}

body > table tbody tr:not(.parent):hover td
{
	background-color: #1c1c1c;
}

body > table thead tr th
{
	color: var(--color-table-header);
}

body > table tr th
{
	text-align: left;
	padding: 4px 0px 6px 0px;
}

body > table tr th:nth-child(1)
{
	width: 50%;
}

body > table tr th:nth-child(2)
{
	width: 20%;
}

body > table tr th:nth-child(3)
{
	width: 15%;
}

body > table tr th:nth-child(4)
{
	width: 15%;
}

body > table tr td
{
	padding: 5px 0px 5px 0px;
}

body > table tr td,
body > table tr th
{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis
}

body > table tr td:last-child,
body > table tr th:last-child
{
	padding-right: 10px;
}

body > table tr td:first-child,
body > table tr th:first-child
{
	padding-left: 10px;
}

body > table tr td:last-child
{
	text-transform: capitalize;
}

body > table tr.parent td
{
		padding-top: 8px;
}

body > table tr.parent a
{
	color: var(--color-link-dir-parent);
}

body > table tr.directory a
{
	color: var(--color-link-dir-regular);
}

body > table tr.file td:first-child
{
	padding-right: 5px;
}

body > table tr.file a:not(.preview)
{
	color: var(--color-link-file);
}

body > table tr.file a:not(.preview):visited
{
	color: var(--color-link-file-visited);
}

body > table tr.file a.preview
{
	color: var(--color-link-media-file);
}

body > table tr.file a.preview:hover
{
	color: var(--color-link-media-file-hover);
}

body > table tr.file a.preview:visited
{
	color: var(--color-link-media-file-visited);
}

body > table tr.file td.download a:visited
{
	color: var(--color-link-download-visited);
}

body > table tr.file td.download a
{
	color: var(--color-link-download);
}

body > table [sortable]
{
	cursor: pointer;
	text-decoration: underline;
}

body > table span.sort-indicator
{
	cursor: default;
	text-decoration: none;
	margin-left: 6px;
	display: none;
}

body > table span.sort-indicator.up::after
{
	content: '\2191';
}

body > table span.sort-indicator.down::after
{
	content: '\2193';
}

body > div.bottom
{
		margin: 10px 0px 12px 7px;
		color: #4a4a4a;
		font-size: 12px;
		position: relative;
}

body > div.bottom div:nth-child(1)::after
{
	content: '|';
	margin: 0px 10px 0px 10px;
}

body > div.bottom div:nth-child(2)
{
	text-overflow: ellipsis;
}

body > div.bottom div:nth-child(2) > span
{
	max-width: 30vw;
	display: inline-block;
	white-space: nowrap;

	overflow-x: hidden;
	text-overflow: ellipsis;

	vertical-align: top;
}

body > div.bottom div
{
	display: inline-block;
}

body > div.bottom a
{
		color: #4a4a4a;
}

body > div.bottom a:hover
{
		color: #545454;
}

/* scrollbar styling */

body, html,
.gallery-container div.content-container .list
{
    scrollbar-color: #424242 #131315;
}

::-webkit-scrollbar
{
    background-color: #131315;
}

::-webkit-scrollbar-thumb
{
    background-color: #424242;
}

::-webkit-scrollbar-thumb:hover
{
	background-color: #383838;
}

.top-bar, .menu
{
	font-size: 12px;
}

.top-bar
{
	z-index: 2;
	width: 100%;
	color: #939498;
	max-width: 100%;
	display: table;
	border-bottom: 1px solid #272727;
	background-color: rgba(28, 28, 28, 0.975);
	position: fixed;
	top: 0; left: 0; right: 0;
	box-shadow: 0px 0px 1px #0d0d0d;
}

.top-bar > .directory-info
{
	display: inline-table;
}

.top-bar > .directory-info > div
{
	display: table-cell;
	padding: 6px 8px 6px 8px;
	white-space: nowrap;
}

.top-bar > .directory-info > div:not(.quick-path)
{
	border-right: 1px solid var(--color-border-main);
}

.top-bar > div.extend
{
	font-weight: bold;

	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;

	vertical-align: middle;

	display: flex;
	padding: 0px 7px 0px 7px;
	white-space: nowrap;

	align-items: center;
	justify-content: center;

	border-left: 1px solid var(--color-border-main);

	font-size: 1.2em;
}

.top-bar > div.extend:hover
{
	cursor: pointer;
	background-color: #262626;
	color: white;
}

.menu
{
	visibility: hidden;

	text-align: left;

	position: fixed;
	top: calc(var(--height-gallery-top-bar) - 2px);
	right: 0;

	color: #939498;
	border-bottom: 1px solid #272727;
	border-left: 1px solid #272727;
	background-color: #181818;

	box-shadow: 0px 0px 2px #0d0d0d;
}

.menu > div
{
	padding: 8px 18px 8px 7px;
	border-left: 3px solid transparent;
	cursor: pointer;
}

.menu > div:hover
{
	border-left: 3px solid #939393;
	color: #bfbfbf;
	background-color: #1c1c1c;
}

[data-view="mobile"]
{
	display: none;
}

[data-view="desktop"]
{
	display: unset;
}

.filter-container
{
	display: none;

	background-color: #1a1a1a;

	position: fixed;

	bottom: 0;
	left: 0;
	right: 0;

	width: 100%;
	padding: 5px 5px 7px 0px;

	border-top: 1px solid #242424;

	box-shadow: 0px 0px 2px #0d0d0d;
}

.filter-container > div:first-child
{
	padding-left: 5px;
	width: 100%;
}

.filter-container > div:first-child > div.status
{
	display: inline-block;
	margin-left: 10px;
}

.filter-container > div:first-child > div.status.se
{
	color: #ce1b1b;
}

.filter-container > div input[type="text"]
{
	border: 1px solid #262626;
	padding: 5px 7px 5px 7px;
	background-color: #181818;
	border-radius: 1px;
	font-size: 13px;
	color: #fff;
	min-width: 225px;
}

.filter-container > div
{
	display: table-cell;
}

.filter-container > div.close
{
	padding-right: 8px;
	width: 1%;
}

.filter-container > div.close > span
{
	cursor: pointer;
}

.focus-overlay
{
	z-index: 3;
	position: fixed;

	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	overflow: hidden;

	background-color: rgba(0, 0, 0, 0.44);
}

.settings-container
{
	min-width: 300px;
	z-index: 4;
	position: fixed;

	right: 20px;
	top: 20px;
	background-color: #191919;
	padding-top: 10px;
	border: 1px solid var(--color-border-main);
	box-shadow: 0px 0px 10px #0d0d0d;
}

.settings-container > .wrapper
{
	max-height: 75vh;
	overflow-y: auto;
}

.settings-container > .wrapper > div.section
{
	padding: 10px 0px 10px 0px;
}

.settings-container > .wrapper > div.section > div.header
{
	padding: 4px 17px 4px 17px;
	background-color: #1f1f1f;

	border-top: 1px solid #252525;
	border-bottom: 1px solid #252525;

	margin-bottom: 14px;
	font-size: 13px;
	color: #797979;
	box-shadow: 0px 0px 1px #0d0d0d;
}

.settings-container > .wrapper > div.section:first-child
{
	padding-top: 0px;
}

.settings-container > .wrapper > div.section .option
{
	padding: 0px 10px 0px 10px;
	display: table;
	width: calc(100% - 20px);
	height: 25px;
}

.settings-container > .wrapper > div.section .option.interactable,
.settings-container > .wrapper > div.section .option.interactable input
{
	cursor: pointer;
}

.settings-container > .wrapper > div.section .option:not(:first-child)
{
	margin-top: 10px;
}

.settings-container > .wrapper > div.section .option > div
{
	display: table-cell;
	width: 50%;
}

.settings-container > .wrapper > div.section .option > div:last-child
{
	width: auto;
	text-align: right;
}

.settings-container > div.bottom
{
	display: table;
	width: 100%;
	margin-top: 16px;
	background-color: #1f1f1f;
	border-top: 1px solid #282828;
}

.settings-container > div.bottom > div
{
	text-align: center;
	padding: 6px 7px 5px 7px;
	display: table-cell;
	font-size: 12px;
}

.settings-container > div.bottom > div:not(:last-child)
{
	border-right: 1px solid #292929;
	width: 50%;
}

.settings-container > div.bottom > div:hover
{
	cursor: pointer;
	background-color: #272727;
}

/* select box styling */
select:not(.default)
{
    display: block;
    color: #fff;
    background-color: #181818;
    line-height: 1.3;
    padding: 2px 4px 2px 4px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #262626;
    box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

/* hide arrow icon in IE browsers */
select:not(.default)::-ms-expand
{
    display: none;
}

/* hover style */
select:not(.default):hover
{
    border: 1px solid #292929;
    background-color: #191919;
}

/* focus style */
select:not(.default):focus
{
    border: 1px solid #313131;
    background-color: #191919;
    outline: none;
}

@media only screen and (max-width: 640px)
{
		body > table tbody tr td:last-child,
		body > table thead tr th:last-child
		{
			text-align: right;
		}

		body, body > table
		{
			font-size: 10px!important;
		}

		body, body > div.top
		{
			font-size: 11px!important;
		}

		body > div.path
		{
			font-size: 14px!important;
		}
		body
		{
			padding: calc(var(--height-gallery-top-bar)) 2px 2px 2px;
		}

		body > div.bottom
		{
			margin-top: 16px;
			margin-bottom: 32px;
			text-align: center;
			font-size: 10px!important;
		}

		body > div.bottom div
		{
			margin-top: 9px;
			display: block!important;
		}

		body > div.bottom div:before
		{
			content: ''!important;
		}

		body > .top-bar > div.extend
		{
			padding : 0px 12px 0px 12px;
		}

		[data-view="mobile"]
		{
			display: unset!important;
		}

		[data-view="desktop"]
		{
			display: none!important;
		}

		.filter-container > div input[type="text"]
		{
			min-width: unset;
			width: 30vw;
		}

		.settings-container
		{
			left: 20px;
		}

		.menu > div
		{
			padding: 10px 18px 10px 7px;
		}
}

/** gallery.css **/

.blur
{
	filter: var(--gallery-blur);
	-webkit-filter: var(--gallery-blur);
	-moz-filter: var(--gallery-blur);
	-o-filter: var(--gallery-blur);
	-ms-filter: var(--gallery-blur);
}

.gallery-container
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	max-height: 100vh;
	max-width: 100vw;
	z-index: 1000;

	background-color: var(--color-background-gallery-container);
}

.gallery-container div.bar
{
	height: calc(var(--height-gallery-top-bar) - 2px);
	max-height: calc(var(--height-gallery-top-bar) - 2px);
	min-height: calc(var(--height-gallery-top-bar) - 2px);
	background-color: var(--color-background-gallery-topbar);
	border-bottom: 2px solid var(--color-gallery-border);
	padding-top: 1px;
	width: 100%;
	display: table;
	color: var(--color-gallery-topbar);
}

.gallery-container div.bar div
{
	display: table-cell;
	vertical-align: middle;
}

.gallery-container div.bar .right
{
	padding-right: 10px;
	text-align: right;
	white-space: nowrap;
	width: 1%;
}

.gallery-container div.bar .right a.download
{
	color: var(--color-gallery-link-download);
	text-decoration: none;
}

.gallery-container div.bar .right a.download:hover
{
	color: var(--color-gallery-link-download-hover);
	text-decoration: underline;
}

.gallery-container div.bar .right *:not(:last-child)
{
	margin-right: 3px;
}

.gallery-container div.bar .right a.download,
.gallery-container div.bar .right span[data-action]
{
	cursor: pointer;
}

.gallery-container div.bar .right a.download::before,
.gallery-container div.bar .right span[data-action]::before
{
	content: '[';
}

.gallery-container div.bar .right a.download::after,
.gallery-container div.bar .right span[data-action]::after
{
	content: ']';
}

.gallery-container div.bar .left
{
	padding: 0px 10px 0px 10px;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	max-width: 0px; /* fixes text-overflow somehow */
}

.gallery-container div.bar .left a
{
	color: var(--color-gallery-topbar);
	text-decoration: none;
}

.gallery-container div.bar .left a:hover
{
	text-decoration: underline;
}

.gallery-container div.content-container
{
	display: table;
	width: 100vw;

	height: calc(100vh - var(--height-gallery-top-bar));
}

.gallery-container div.content-container .media
{
	display: table-cell;
	text-align: center;
	width: 100%;
	vertical-align: middle;
	position: relative;
}

.gallery-container div.content-container .media .wrapper .cover .reverse
{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 10px;
	pointer-events: none;

	border: 1px solid #1a1a1a;

	opacity: 0.8;

	visibility: hidden;
}

.gallery-container div.content-container .media .wrapper .cover:hover .reverse
{
	visibility: visible;
}

.gallery-container div.content-container .media .wrapper .cover .reverse a
{
	display: inline-block;

	color: white;
	text-decoration: none;
	pointer-events: auto;

	padding: 4px 6px 3px 6px;

	color: #e5e5e5;
	background-color: #151515;
}

.gallery-container div.content-container .media .wrapper .cover .reverse a:not(:last-child)
{
	border-right: 1px solid #1a1a1a;
}

.gallery-container div.content-container .media .wrapper .cover .reverse a:hover
{
	background-color: #1d1d1d;
	color: #fff;
}

.gallery-container div.content-container .media .loader
{
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: #000000a1;
	padding: 7px 9px 7px 9px;
	border-radius: 2px;
}

.gallery-container div.content-container .media .loader.reversed
{
	right: unset;
	left: 10px;
}

.gallery-container div.content-container,
.gallery-container div.content-container .media .wrapper .cover,
.gallery-container div.content-container .media .wrapper,
.gallery-container div.content-container .media .wrapper img,
.gallery-container div.content-container .media .wrapper video,
.gallery-container div.content-container .list
{
	max-height: calc(100vh - var(--height-gallery-top-bar) - 2px);
}

.gallery-container div.content-container .media .wrapper
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	align-items: center;
	justify-content: center;
}

.gallery-container div.content-container .media .wrapper .cover
{
	position: relative;
}


/* fit content */

.gallery-container div.content-container .media .wrapper.fill
{
	height: calc(100vh - var(--height-gallery-top-bar) - 2px);
}
.gallery-container div.content-container .media .wrapper.fill .cover
{
	height: 100%;
	/*
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	display: flex;
	*/
}
.gallery-container div.content-container .media .wrapper.fill img,
.gallery-container div.content-container .media .wrapper.fill video
{
	object-fit: contain;
	height: 100%;
	overflow: hidden;
}
.gallery-container div.content-container .media .wrapper.fill img
{
	width: 100%;
}
.gallery-container div.content-container .media .wrapper.fill video
{
	width: auto;
}

.gallery-container div.content-container .media .wrapper img,
.gallery-container div.content-container .media .wrapper video
{
	object-fit: contain;
	max-width: 100%;
	display: none;
}

.gallery-container div.content-container .media .wrapper video
{
	outline: none;
	border: none;
}

.gallery-container div.content-container .media .wrapper img
{
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
}

.gallery-container div.content-container .list
{
	display: table-cell;

	background-color: #151515a6;

	max-width: 50vw;
	min-width: 275px;
	width: 25vw;

	height: calc(100vh - var(--height-gallery-top-bar) - 2px);

	float: right;

	overflow-y: scroll;
	overflow-x: hidden;

	border-top: 1px solid #101010b8;

	position: relative;
}

.gallery-container div.content-container .list table tr
{
	text-align: left;
	color: var(--color-gallery-list-item);
}

.gallery-container div.content-container .list > div.drag
{
		content: ' ';
		width: 5px;
		min-height: 100%;
		cursor: w-resize;
		position: absolute;
		left: 0; top: 0; bottom: 0;
		border-left: 2px solid var(--color-gallery-border);
}

.gallery-container div.content-container .list > div.drag.reversed
{
		left: unset; right: 0; top: 0; bottom: 0;
		border-left: none;
		border-right: 2px solid var(--color-gallery-border);
}

.gallery-container div.content-container .list table
{
	width: 100%;
	max-width: 100%;
}

.gallery-container div.content-container .list table tr td
{
	padding: 5px 4px 5px 6px;
	cursor: pointer;
	max-width: 0px;
	overflow: hidden;
	white-space: nowrap; 
	text-overflow: ellipsis;
	border-left: 3px solid transparent;
}

.gallery-container div.content-container .list table tr.selected td
{
	border-left: var(--width-border-gallery-list-selected) solid var(--color-border-gallery-list-selected);
	background-color: var(--color-background-gallery-list-selected);
	color: var(--color-gallery-list-item-selected);
}

.gallery-container div.content-container .list table tr.selected td:hover
{
	background-color: var(--color-background-gallery-list-selected-hover);
}

.gallery-container div.content-container .list.reversed table tr.selected td
{
	border-left: none;
	border-right: var(--width-border-gallery-list-selected) solid var(--color-border-gallery-list-selected);
	background-color: var(--color-background-gallery-list-selected);
}

.gallery-container div.content-container .list table tr:not(.selected):hover
{
	background-color: var(--color-background-gallery-list-item-hover);
	color: var(--color-gallery-list-item-hover);
}

.gallery-container div.content-container .screen-nav
{
	display: none;
}

@media only screen and (max-width: 640px)
{
	.gallery-container div.bar
	{
		font-size: 0.8em!important;
	}

	.gallery-container div.content-container .media .loader
	{
		font-size: 0.8em!important;
		padding: 4px 7px 4px 7px!important;
	}

	.gallery-container div.content-container .screen-nav
	{
		background-color: rgba(0, 0, 0, 0.25);
		position: absolute;
		padding: 0px 1.2vw 0px 1.2vw;
		z-index: 1;
		display: table!important;
		height: 100%;
		font-weight: bold;
		cursor: pointer;
	}

	.gallery-container div.content-container .media .wrapper .cover .reverse
	{
		font-size: 9px;
	}

	.gallery-container div.content-container .screen-nav.left
	{
		left: 0;
	}

	.gallery-container div.content-container .screen-nav.right
	{
		right: 0;
	}

	.gallery-container div.content-container .screen-nav.right > span::after
	{
		content: '\2192';
	}

	.gallery-container div.content-container .screen-nav.left > span::after
	{
		content: '\2190';
	}

	.gallery-container div.content-container .screen-nav span
	{
		display: table-cell;
		vertical-align: middle;
	}

	.gallery-container div.content-container .media .wrapper .cover .reverse
	{
		z-index: 2;
	}

	body > div.bottom div:nth-child(1)::after
	{
		content: ''!important;
		margin: none!important;
	}
}

img#image-preview, video#video-preview
{
  box-shadow: 0px 0px 1px #0d0d0d;
}