body > div.tableContainer > table tr.file a.preview, body > div.tableContainer > table tr.file a.preview:hover {
    color: #4bd2ff!important;
}

body > div.tableContainer > table tr.file a.preview:visited {
    color: #3f7486!important;
}

body > div.tableContainer > table tr.directory a {
    color: #75f7b4!important;
}

body > div.tableContainer > table tr.parent a {
    color: #f9f871!important;
}

body > div.tableContainer > table tr.file td.download a {
    color: #4792ac!important;
}

body > div.tableContainer > table tr.file td.download a:visited {
    color: #406e7d!important;
}

body.compact > div.path {
    text-align: center!important;
}

body > div.path a {
    color: #7efff1!important;
    font-weight: normal!important;
}

.rootGallery div.galleryContent .list table tr.selected td {
    background-color: #2d2d2d4f!important;
}

.rootGallery div.galleryContent .list table tr.selected td:hover {
    background-color: #3737374f!important;
}

.rootGallery div.galleryBar .galleryBar__right a.download {
    color: #4792ac!important;
}

.rootGallery div.galleryContent .list table tr:not(.selected) td:hover {
    background-color: rgba(34, 34, 34, 0.2)!important;
}