@charset "UTF-8";

.gallery-root div.gallery-content .list table tr td,
.gallery-root div.gallery-bar .gallery-bar__right span[data-action],
.gallery-root div.gallery-bar .gallery-bar__right a,
.gallery-root div.gallery-content .media .wrapper,
.gallery-root div.gallery-content .media
{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.blur
{
	filter: var(--gallery-blur);
	-webkit-filter: var(--gallery-blur);
	-moz-filter: var(--gallery-blur);
	-o-filter: var(--gallery-blur);
	-ms-filter: var(--gallery-blur);
}

html[gallery-is-visible] > div:not(.gallery-root):not(script):not(noscript):not(style)
{
	pointer-events: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.gallery-root
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	max-height: 100vh;
	max-width: 100vw;
	z-index: 1000;
	background-color: var(--color-background-gallery-root);
}

.gallery-root div.gallery-bar
{
	height: calc(var(--height-gallery-top-bar) - 2px);
	max-height: calc(var(--height-gallery-top-bar) - 2px);
	min-height: calc(var(--height-gallery-top-bar) - 2px);
	background-color: var(--color-background-gallery-topbar);
	border-bottom: 2px solid var(--color-gallery-border);
	width: 100%;
	display: table;
	color: var(--color-gallery-topbar);
}

.gallery-root div.gallery-bar div
{
	display: table-cell;
	vertical-align: middle;
}

.gallery-root div.gallery-bar .gallery-bar__right
{
	padding-right: 10px;
	text-align: right;
	white-space: nowrap;
	width: 1%;
}

.gallery-root div.gallery-bar .gallery-bar__right > span[data-action]
{
	margin: 0px 2px;
}

.gallery-root div.gallery-bar .gallery-bar__right a.download
{
	color: var(--color-gallery-link-download);
	text-decoration: none;
}

.gallery-root div.gallery-bar .gallery-bar__right a.download:hover
{
	color: var(--color-gallery-link-download-hover);
	text-decoration: underline;
}

.gallery-root div.gallery-bar .gallery-bar__right *:not(:last-child)
{
	margin-right: 3px;
}

.gallery-root div.gallery-bar .gallery-bar__right a.download,
.gallery-root div.gallery-bar .gallery-bar__right span[data-action]
{
	cursor: pointer;
}

.gallery-root div.gallery-bar .gallery-bar__right a.download::before,
.gallery-root div.gallery-bar .gallery-bar__right span[data-action]::before
{
	content: '[';
}

.gallery-root div.gallery-bar .gallery-bar__right a.download::after,
.gallery-root div.gallery-bar .gallery-bar__right span[data-action]::after
{
	content: ']';
}

.gallery-root div.gallery-bar .gallery-bar__left
{
	padding: 0px 10px 0px 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 0px;
    font-size: var(--font-size-gallery);
    letter-spacing: 1px;
}

.gallery-root div.gallery-bar .gallery-bar__left > span:nth-child(1)
{
	font-feature-settings: 'tnum';
}

.gallery-root div.gallery-bar .gallery-bar__left > span:first-child::after,
.gallery-root div.gallery-bar .gallery-bar__left > span:last-child::before
{
    content: '|';
    margin: 0px 7px;
    color: #3c3c49;
}

.gallery-root div.gallery-bar .gallery-bar__left a
{
	color: var(--color-gallery-topbar);
	text-decoration: none;
}

.gallery-root div.gallery-bar .gallery-bar__left a:hover
{
	text-decoration: underline;
}

.gallery-root div.gallery-content
{
	display: table;
	width: 100vw;
	height: calc(100vh - var(--height-gallery-top-bar));
}

.gallery-root div.gallery-content .media
{
	display: table-cell;
	text-align: center;
	width: 100%;
	vertical-align: middle;
	position: relative;
}

.gallery-root div.gallery-content .media > div.item-info-static
{
	position: absolute;

	right: 5px;
	top: 5px;

	padding: 1px 5px 2px 5px;
	background-color: rgba(0, 0, 0, 0.5);

	border-radius: 2px;

	pointer-events: none;

	font-feature-settings: 'tnum';

	opacity: 1;

	transition: opacity 0.5s;
	-moz-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
}

.gallery-root div.gallery-content .media .wrapper .cover .reverse
{
	position: absolute;
	top: 4px;
	left: 4px;
	border-radius: 2px;
	font-size: 11px;
	pointer-events: none;
	opacity: 0.5;
	visibility: hidden;

	transition: opacity 0.125s;
	-moz-transition: opacity 0.125s ease-in-out;
	-webkit-transition: opacity 0.125s ease-in-out;
}

.gallery-root div.gallery-content .media .wrapper .cover .reverse:hover
{
	opacity: 0.7;
}

.gallery-root div.gallery-content .media .wrapper .cover:hover .reverse
{
	visibility: visible;
}

.gallery-root div.gallery-content .media .wrapper .cover .reverse a
{
	display: inline-block;
	color: white;
	text-decoration: none;
	pointer-events: auto;
	padding: 3px 6px 4px 6px;
	color: #e5e5e5;
	background-color: #151515;

	transition: background-color 0.2s;
	-moz-transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;
}

.gallery-root div.gallery-content .media .wrapper .cover .reverse a:not(:last-child)
{
	border-right: 1px solid #1a1a1a;
}

.gallery-root div.gallery-content .media .wrapper .cover .reverse a:hover
{
	background-color: rgba(0, 0, 0, 0.975);
	color: #fff;
}

.gallery-root div.gallery-content .media div.spinner
{
	--spinner-size: 26px;
	--spinner-fade-duration: 0.25s;

	position: absolute;

	z-index: 1;

	top: 10px;
	right: 10px;

	/* By Sam Herbert (@sherb), for everyone. More @ http://goo.gl/7AJzbL */
	background: url('data:image/svg+xml;utf8,<svg width="38" height="38" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a"><stop stop-color="%23fff" stop-opacity="0" offset="0%"/><stop stop-color="%23fff" stop-opacity=".631" offset="63.146%"/><stop stop-color="%23fff" offset="100%"/></linearGradient></defs><g fill="none" fill-rule="evenodd"><g transform="translate(1 1)"><path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(%23a)" stroke-width="2"><animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite" /></path><circle fill="%23fff" cx="36" cy="18" r="1"><animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite" /></circle></g></g></svg>');
	background-size: var(--spinner-size) var(--spinner-size);

	width: var(--spinner-size);
	height: var(--spinner-size);

	transition: opacity var(--spinner-fade-duration);
	-moz-transition: opacity var(--spinner-fade-duration) ease-in-out;
	-webkit-transition: opacity var(--spinner-fade-duration) ease-in-out;

    opacity: 0;
}

.gallery-root div.gallery-content .media .loader
{
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: #000000a1;
	padding: 7px 9px 7px 9px;
	border-radius: 2px;
}

.gallery-root div.gallery-content.reversed .media .spinner
{
	right: unset;
	left: 10px;
}

.gallery-root div.gallery-content .media .wrapper>div.error
{
	color: #d83232;
	display: block;
	width: 100%;
}

.gallery-root div.gallery-content,
.gallery-root div.gallery-content .media .wrapper .cover,
.gallery-root div.gallery-content .media .wrapper,
.gallery-root div.gallery-content .media .wrapper img,
.gallery-root div.gallery-content .media .wrapper video,
.gallery-root div.gallery-content .list
{
	max-height: calc(100vh - var(--height-gallery-top-bar) - 2px);
}

.gallery-root div.gallery-content .media .wrapper
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.gallery-root div.gallery-content .media .wrapper .cover
{
	position: relative;
}

/* Gallery - Fit content */
.gallery-root div.gallery-content .media .wrapper.fill
{
	height: calc(100vh - var(--height-gallery-top-bar) - 2px);
}

.gallery-root div.gallery-content .media .wrapper.fill .cover
{
	height: 100%;
}

.gallery-root div.gallery-content .media .wrapper.fill img,
.gallery-root div.gallery-content .media .wrapper.fill video
{
	object-fit: contain;
	height: 100%;
	overflow: hidden;
}

.gallery-root div.gallery-content .media .wrapper.fill img
{
	width: 100%;
}

.gallery-root div.gallery-content .media .wrapper.fill video
{
	width: auto;
}

.gallery-root div.gallery-content .media .wrapper img,
.gallery-root div.gallery-content .media .wrapper video
{
	object-fit: contain;
	max-width: 100%;
	display: none;
}

.gallery-root div.gallery-content .media .wrapper video
{
	outline: none;
	border: none;
}

.gallery-root div.gallery-content .media .wrapper img[sharpened]
{
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	image-rendering: optimizequality;
}

.gallery-root div.gallery-content .list
{
	display: table-cell;
	background-color: #121216f0;
	max-width: 50vw;
	min-width: 275px;
	width: 25vw;
	height: calc(100vh - var(--height-gallery-top-bar) - 2px);
	float: right;
	overflow-y: scroll;
	overflow-x: hidden;
	border-top: 1px solid #101010b8;
	position: relative;
}

.gallery-root div.gallery-content .list table tr
{
	text-align: left;
	color: var(--color-gallery-list-item);
}

.gallery-root div.gallery-content .list table tr,
.gallery-root div.gallery-bar .gallery-bar__right a.download,
.gallery-root div.gallery-bar .gallery-bar__right span[data-action]
{
    font-size: var(--font-size-gallery);
    letter-spacing: 1px;
}

.gallery-root div.gallery-content .list>div.drag
{
	content: " ";
	width: 5px;
	min-height: 100%;
	cursor: w-resize;
	position: sticky;
	top: 0;
	bottom: 0;
	border-left: 2px solid var(--color-gallery-border);
	z-index: 1;
}

.gallery-root div.gallery-content.reversed .list>div.drag
{
	left: unset;
	right: 0;
	top: 0;
	bottom: 0;
	float: right;
	border-left: none;
	border-right: 2px solid var(--color-gallery-border);
}

.gallery-root div.gallery-content .list table
{
	width: 100%;
	max-width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
}

.gallery-root div.gallery-content .list table tr td
{
	padding: 6px 4px 6px 6px;
	cursor: pointer;
	max-width: 0px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-left: 3px solid transparent;
}

.gallery-root div.gallery-content .list table tr.selected td
{
	border-left: var(--width-border-gallery-list-selected) solid var(--color-border-gallery-list-selected);
	background-color: var(--color-background-gallery-list-selected);
	color: var(--color-gallery-list-item-selected);
}

.gallery-root div.gallery-content .list table tr.selected td:hover
{
	background-color: var(--color-background-gallery-list-selected-hover);
}

.gallery-root div.gallery-content.reversed .list table tr.selected td
{
	border-left: none;
	border-right: var(--width-border-gallery-list-selected) solid var(--color-border-gallery-list-selected);
	background-color: var(--color-background-gallery-list-selected);
}

.gallery-root div.gallery-content .list table tr:not(.selected) td:hover
{
	background-color: var(--color-background-gallery-list-item-hover);
	color: var(--color-gallery-list-item-hover);
}

.gallery-root div.gallery-content .screen-navigate
{
	display: none;
}

.gallery-root div.gallery-content .screen-navigate > span
{
	pointer-events: none;
}