@charset "UTF-8";

@use 'variables';

.ns, body > div.table-container > table [sortable], .settings-container > .wrapper > div.section .option > div.option-text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body, input {
  font-family: "Inter", sans-serif;
  font-weight: normal;
}

select {
  font-family: "Inter", sans-serif;
  font-weight: normal;

  > option {
    font-family: "Inter", sans-serif;
    font-weight: normal;
  }
}

body, html {
  background-color: variables.$color-background-body;
}

body {
  font-size: 13px;
  color: variables.$color-body;
  position: relative;
  padding-top: calc(variables.$height-gallery-top-bar - 2px);
  margin: 0;
  cursor: auto;

  &.pb {
    border-bottom: 1px solid variables.$color-border-main;
    margin-bottom: 18px;
  }

  > div.path {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: normal;
    font-size: 19px;
    letter-spacing: 1px;
    margin: 20px 0 16px 8px;

    a {
      font-style: normal;
      font-weight: bold;
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

div.top-bar > div.directory-info > div.quick-path {
  max-width: 50vw;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  position: absolute;
  transition: opacity 0.175s;
  -moz-transition: opacity 0.175s ease-in-out;
  -webkit-transition: opacity 0.175s ease-in-out;
  opacity: 0;

  &.visible {
    opacity: 1;
  }

  a {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

body {
  > div.table-container {
    position: relative;
    overflow: hidden;
    background-color: variables.$color-background-table;
  }

  &.compact > div {
    &.table-container {
      width: 100%;
    }

    &.path {
      font-style: normal;
      font-size: 19px;
      letter-spacing: 1px;
      margin: 20px 0 16px 8px;
    }
  }

  > div.table-container {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid variables.$color-border-main;

    > table {
      width: 100%;
      table-layout: fixed;
      border-spacing: 0px;
      background-color: variables.$color-background-table;
    }
  }

  &:not([is-loading]) > div.table-container > table tbody tr:not(.parent):hover {
    background-color: variables.$color-table-background-color-hover;
  }

  > div.table-container > table {
    thead tr > th {
      color: variables.$color-table-header;
      font-size: variables.$font-size-table-header;
      letter-spacing: 1px;
      @media only screen and (max-width : variables.$mobile-width) {
        font-size: 10px;
      }
    }

    tr {
      th {
        text-align: left;
        padding: 4px 0px 6px 0px;
      }

      > td {
        font-size: variables.$font-size-row-file;
        font-weight: 500;
        text-decoration: none;
        letter-spacing: 1px;
        @media only screen and (max-width : variables.$mobile-width) {
          font-size: 10px;
        }

        &:nth-child(2), &:nth-child(3) {
          font-feature-settings: 'tnum';
          font-size: variables.$font-size-row-num;
        }

        &:nth-child(4) {
          font-size: variables.$font-size-row-num;
        }

        &:nth-child(4), &:nth-child(2) {
          @media only screen and (max-width : variables.$mobile-width) {
            font-size: 10px;
          }
        }
      }
    }

    thead th {
      &:nth-child(1) {
        width: 50%;
      }

      &:nth-child(2) {
        width: 20%;
      }

      &:nth-child(3), &:nth-child(4) {
        width: 15%;
      }
    }
  }

  &[optimize] > div.table-container > table {
    tbody > tr td:nth-child(1), thead th:nth-child(1) {
      $width:calc((var(--table-width) / 2) - 15px);
      width: $width;
      max-width: $width;
      min-width: $width;
    }

    tbody > tr td:nth-child(2), thead th:nth-child(2) {
      $width:calc((var(--table-width) / 5) - 1px);
      width: $width;
      max-width: $width;
      min-width: $width;
    }

    tbody > tr td:nth-child(3), thead th:nth-child(3) {
      $width:calc((var(--table-width) * 0.15) - 1px);
      width: $width;
      max-width: $width;
      min-width: $width;
    }

    tbody > tr td:nth-child(4) {
      $width:calc(var(--table-width) * 0.15);
      width: $width;
      max-width: $width;
      min-width: $width;
    }

    thead {
      th:nth-child(4) {
        $width:calc(var(--table-width) * 0.15);
        width: $width;
        max-width: $width;
        min-width: $width;
      }

      > tr:first-child {
        display: block;
      }
    }

    tbody {
      padding-top: 1px;
    }
  }

  > div {
    &.table-container > table {
      tr {
        td {
          padding: 5px 5px 5px 0px;
        }

        a {
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }

        td, th {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 5px 0px 5px 0px;
        }

        td:last-child, th:last-child {
          padding-right: 10px;
        }

        td:first-child, th:first-child {
          padding-left: 10px;
        }

        td:first-child, th:first-child {
          padding-right: 5px;
        }

        td:last-child {
          text-transform: capitalize;
        }

        &.parent {
          td {
            padding-top: 8px;
          }

          a {
            color: variables.$color-link-dir-parent;
          }
        }

        &.directory a {
          color: variables.$color-link-dir-regular;
        }

        &.file td:first-child, &.directory td:first-child {
          padding-right: 5px;
        }

        &.file {
          a {
            &:not(.preview) {
              color: variables.$color-link-file;

              &:visited {
                color: variables.$color-link-file-visited;
              }
            }

            &.preview {
              color: variables.$color-link-media-file;

              &:hover {
                color: variables.$color-link-media-file-hover;
              }

              &:visited {
                color: variables.$color-link-media-file-visited;
              }
            }
          }

          td.download a {
            &:visited {
              color: variables.$color-link-download-visited;
            }

            color: variables.$color-link-download;
          }
        }
      }

      [sortable] {
        cursor: pointer;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      span.sort-indicator {
        $indicator-fade-duration:0.5s;
        cursor: default;
        text-decoration: none;
        margin-left: 6px;
        opacity: 0;
        transition: opacity $indicator-fade-duration;
        -moz-transition: opacity $indicator-fade-duration ease-in-out;
        -webkit-transition: opacity $indicator-fade-duration ease-in-out;

        &.visible {
          opacity: 1;
        }

        &.up::after {
          content: "\2191";
        }

        &.down::after {
          content: "\2193";
        }
      }
    }

    &.bottom {
      padding: 8px 0px 10px 10px;
      position: relative;
      border-top: 1px solid variables.$color-border-main;
      color: #3d414a;
      font-size: 13px;
      letter-spacing: 1px;

      > div.current-page-info > span.generation-time {
        font-feature-settings: 'tnum';
      }

      div {
        &:nth-child(1):not(.git-reference)::after {
          content: "|";
          margin: 0px 10px 0px 10px;
        }

        &:nth-child(2) {
          text-overflow: ellipsis;

          > span {
            display: inline-block;
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
            vertical-align: top;
          }
        }
      }
    }
  }

  &:not(.compact) > div.bottom div:nth-child(2) > span {
    max-width: 20vw;
  }

  &.compact > div.bottom div:nth-child(2) > span {
    max-width: 300px;
  }

  > div.bottom {
    div {
      display: inline-block;
    }

    a {
      text-decoration: none;
      color: #3d414a;

      &:hover {
        color: #3d414a;
        text-decoration: underline;
      }
    }
  }
}

div.git-reference {
  position: absolute;
  right: 10px;
  font-style: italic;

  > span {
    margin-left: 6px;
  }
}

body {
  &.compact div.git-reference.single {
    position: unset;
    width: 100%;
  }

  &:not(.compact) div.git-reference.single {
    position: relative;
    width: 100%;
    text-align: right;
  }

  scrollbar-color: #424242 #131315;
}

/* Scrollbar - Styling */

html, .gallery-root div.gallery-content .list {
  scrollbar-color: #424242 #131315;
}

.top-bar, .menu {
  font-size: 12px;
}

.top-bar {
  border-bottom: 1px solid #10101085;
  background-color: #121216f0;
  box-shadow: 0px 0px 3px #0d0d0d;
  padding: 2px 0px;
  z-index: 2;
  width: 100%;
  color: #939498;
  max-width: 100%;
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  > {
    .directory-info {
      display: inline-table;
      font-size: variables.$font-size-top-bar;
      letter-spacing: 1px;

      > div {
        display: table-cell;
        padding: 6px 8px 6px 8px;
        white-space: nowrap;

        &:not(.quick-path) {
          border-right: 2px solid #10101085;
        }
      }
    }

    div.extend {
      font-weight: bold;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      vertical-align: middle;
      display: flex;
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      padding: 0px 9px 0px 9px;
      font-size: 1.5em;
      border-left: 2px solid #10101085;
      transition: color 0.2s;
      -moz-transition: color 0.2s ease-in-out;
      -webkit-transition: color 0.2s ease-in-out;

      &:hover {
        cursor: pointer;
        background-color: #10101085;
        color: white;
      }

      &[extended] {
        color: variables.$color-body;
      }
    }
  }
}

.menu {
  visibility: hidden;
  text-align: left;
  position: fixed;
  top: calc(variables.$height-gallery-top-bar - 2px);
  right: 0;
  color: #939498;
  border-bottom: 1px solid variables.$color-border-settings-menu;
  border-left: 1px solid variables.$color-border-settings-menu;
  background-color: variables.$color-background-settings-menu;
  box-shadow: 0px 0px 2px #0d0d0d;

  > div {
    padding: 8px 18px 8px 7px;
    border-left: 3px solid transparent;
    cursor: pointer;
    font-size: 13px;
    letter-spacing: 1px;

    &:hover {
      border-left: 3px solid #939393;
      color: #bfbfbf;
      background-color: variables.$color-background-settings-item-hover;
    }
  }
}

[data-view="mobile"] {
  display: none;
}

[data-view="desktop"] {
  display: unset;
}

.filter-container {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0px;
  border: none;
  box-shadow: 0px 0px 6px #10151f;

  > input[type="text"] {
    border-radius: 1px;
    color: #fff;
    padding: 5px 7px 5px 9px;
    background-color: #121216f0;
    height: 24px;
    font-size: variables.$font-size-default;
    letter-spacing: 1px;
    width: 100%;
    border-top: 2px solid #1d1f27;
    border-left: none;
    border-right: none;
    border-bottom: none;
    @media only screen and (max-width : variables.$mobile-width) {
      font-size: 12px;
    }

    &:focus {
      outline: none;
    }
  }
}

.focus-overlay {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.44);
}

.settings-container {
  min-width: 300px;
  z-index: 4;
  position: fixed;
  right: 20px;
  top: 20px;
  padding-top: 10px;
  border: 1px solid variables.$color-border-main;
  border-radius: 3px;
  box-shadow: 0px 0px 10px #0d0d0d;
  font-size: 13px;
  letter-spacing: 1px;
  background-color: #121216f0;

  > {
    .wrapper {
      max-height: 75vh;
      overflow-y: auto;

      > div.section {
        padding: 10px 0px 10px 0px;

        > div.header {
          padding: 4px 17px 4px 17px;
          margin-bottom: 14px;
          font-size: 13px;
          color: #797979;
          box-shadow: 0px 0px 1px #0d0d0d;
          background-color: #17171d;
          border-top: 1px solid #1d1d25;
          border-bottom: 1px solid #1d1d25;
        }

        &:first-child {
          padding-top: 0px;
        }

        .option {
          padding: 0px 10px 0px 10px;
          display: table;
          width: calc(100% - 20px);
          height: 25px;

          &.interactable {
            cursor: pointer;

            input {
              cursor: pointer;
            }
          }

          &:not(:first-child) {
            margin-top: 10px;
          }

          > div {
            display: table-cell;
            width: 50%;

            &:last-child {
              width: auto;
              text-align: right;
            }
          }
        }
      }
    }

    div.bottom {
      display: table;
      width: 100%;
      margin-top: 4px;
      background-color: #17171d;
      border-top: 1px solid #1d1d25;

      > div {
        text-align: center;
        padding: 6px 7px 8px 7px;
        display: table-cell;
        font-size: 12px;

        &:first-child {
          border-right: 1px solid #1c1c1d;
        }

        &:not(:last-child) {
          border-right: 1px solid #292929;
          width: 50%;
        }

        &:hover {
          cursor: pointer;
          background-color: #1c1c25;
        }
      }
    }
  }
}

/* Select - Styling */

select:not(.default) {
  display: block;
  color: #fff;
  line-height: 1.3;
  padding: 2px 4px 2px 4px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #20222d;
  border: 1px solid #2c2e39;
}

@media only screen and (min-width: 640px) {
  body.compact {
    min-width: 640px;
    width: auto;
    max-width: 960px;
    margin: 0 auto;
    border: 1px solid variables.$color-border-main;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 640px) {
  body {
    > {
      div {
        &.table-container > table {
          span.sort-indicator {
            margin-left: 4px !important;
          }

          font-size: 10px !important;
        }

        &.top {
          font-size: 11px !important;
        }

        &.path {
          font-size: 14px !important;
        }

        &.bottom {
          padding-top: 0px;
          margin-bottom: 2px;
          text-align: left;
          font-size: 10px !important;

          div {
            &:nth-child(1), &:nth-child(2) {
              margin-top: 9px;
              display: block !important;
            }

            &:before {
              content: "" !important;
            }
          }
        }
      }

      .top-bar > div.extend {
        padding: 0px 12px 0px 12px;
      }
    }

    font-size: 10px !important;
    font-size: 11px !important;
    padding: calc(variables.$height-gallery-top-bar) 2px 2px 2px;
  }

  [data-view="mobile"] {
    display: unset !important;
  }

  [data-view="desktop"] {
    display: none !important;
  }

  .settings-container {
    left: 20px;
  }

  .menu > div {
    padding: 10px 18px 10px 7px;
  }
}

/* mobile - overrides */
@media only screen and (max-width: 640px) {
  body {
    &[optimize] > div.table-container > table {
      tbody > tr td:nth-child(1), thead th:nth-child(1) {
        $width:calc((var(--table-width) * 0.465) - 15px);
        width: $width;
        max-width: $width;
        min-width: $width;
      }

      tbody > tr td:nth-child(2), thead th:nth-child(2) {
        $width:calc((var(--table-width) * 0.205) - 1px);
        width: $width;
        max-width: $width;
        min-width: $width;
      }

      tbody > tr td:nth-child(3), thead th:nth-child(3) {
        $width:calc((var(--table-width) * 0.190) - 1px);
        width: $width;
        max-width: $width;
        min-width: $width;
      }
    }

    > div.table-container > table {
      thead th {
        &:nth-child(1) {
          width: 45.5%;
        }

        &:nth-child(2) {
          width: 20.5%;
        }

        &:nth-child(3) {
          width: 19.0%;
        }

        &:nth-child(4) {
          margin-right: 5px !important;
        }
      }

      tbody td:nth-child(4) span {
        margin-right: 5px !important;
      }
    }
  }

  .gallery-root div {
    &.gallery-bar {
      font-size: 0.8em !important;
    }

    &.gallery-content {
      .media .loader {
        font-size: 0.8em !important;
        padding: 4px 7px 4px 7px !important;
      }

      .screen-navigate {
        background-color: rgba(0, 0, 0, 0.25);
        position: absolute;
        padding: 0px 1.2vw 0px 1.2vw;
        z-index: 1;
        display: table !important;
        height: 100%;
        font-weight: bold;
        cursor: pointer;
      }

      .media {
        > div.item-info-static {
          right: 25px !important;
        }

        .wrapper .cover .reverse {
          font-size: 9px;
        }
      }

      .screen-navigate {
        &.left {
          left: 0;
        }

        &.right {
          right: 0;

          > span::after {
            content: "\2192";
          }
        }

        &.left > span::after {
          content: "\2190";
        }

        span {
          display: table-cell;
          vertical-align: middle;
        }
      }

      .media .wrapper .cover .reverse {
        z-index: 2;
      }
    }
  }

  div {
    &.git-reference {
      text-align: left !important;
      margin-top: 14px;
      position: unset !important;
      right: unset !important;
    }

    &.top-bar > div.directory-info > div[data-count="directories"] {
      width: 100%;
    }
  }

  body > div {
    &.table-container > table tr td {
      padding: 7px 0px 7px 0px;
    }

    &.bottom div:nth-child(1)::after {
      content: "" !important;
      margin: none !important;
    }
  }
}

body {
  > div.table-container[is-active-filter] > table tbody > tr.filtered {
    display: none;
  }

  &[optimize] > {
    div.table-container > table tbody > tr:not(.hid-row), .gallery-root div.gallery-content .list table > tbody tr:not(.hid-row) {
      display: block;
    }

    div.table-container > table tbody > tr.hid-row {
      display: none;
    }

    .gallery-root div.gallery-content .list table {
      > tbody tr.hid-row {
        display: none;
      }

      tr td {
        max-width: inherit !important;
      }
    }

    div.table-container > table tbody > tr {
      background-color: variables.$color-background-table;
      display: table;
      width: 100%;

      &.rel-row {
        position: absolute;
      }
    }

    .gallery-root div.gallery-content .list table > tbody tr.rel-row {
      position: absolute;
      left: 0;
      right: 0;

      td {
        left: 0;
        right: 0;
        position: absolute;
      }
    }

    div.table-container > table tbody > tr.rel-row td {
      overflow: hidden;
    }
  }

  > div {
    &.preview-container video {
      visibility: hidden;
    }

    &#indicator__preview-volume {
      position: fixed;
      bottom: 10px;
      right: 10px;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.35);
      padding: 5px 10px;
      border-radius: 4px;
      pointer-events: none;
      letter-spacing: 1px;
      z-index: 10000;
      font-feature-settings: 'tnum';
      transition: opacity 0.33s;
      -moz-transition: opacity 0.33s ease-in-out;
      -webkit-transition: opacity 0.33s ease-in-out;
      opacity: 0;
    }
  }
}