@use "sass:list";
@use "sass:map";
@use "variables";
@use "mixins";

html > body > div.tableContainer > table [sortable],
html > body > .settingsContainer > .wrapper > div.section .option > div.option-text {
  @include mixins.no-select;
}

body,
input {
  font-family: Inter, sans-serif;
  font-weight: normal;
}

select {
  font-family: Inter, sans-serif;
  font-weight: normal;

  > option {
    font-family: Inter, sans-serif;
    font-weight: normal;
  }
}

html {
  scrollbar-color: #222 #131315;
}

html > body {
  font-size: 13px;
  color: map.get(variables.$root, "color-body");
  position: relative;
  padding-top: calc(map.get(variables.$gallery, "height-top-bar") - 2px);
  margin: 0;
  cursor: auto;
  scrollbar-color: #222 #131315;
  background-color: map.get(variables.$root, "color-background-body");

  /* Readme container */
  .readmeContainer {
    background-color: #121318;
    margin-bottom: 18px;
    border-top: 1px solid #19191d;
    border-bottom: 1px solid #19191d;
    text-align: center;

    > .readmeContents {
      padding: 5px 8px;
      position: relative;
    }

    a {
      text-decoration: none;
      color: #d6d3ce;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
        color: #5e74ea;
      }
    }

    &:not([open]) {
      summary {
        &::before {
          transform: rotate(180deg);
        }
      }
    }

    summary {
      text-align: right;
      background-color: #15161e;
      display: block;
      padding: 3px 8px 5px 6px;
      color: #939498;
      border-bottom: 1px solid #151822;
      user-select: none;
      cursor: pointer;

      &::before {
        content: "\25BE";
        transform: rotate(0deg);
        display: inline-block;
        margin-right: 5px;
        transition: transform 0.25s;
      }
    }

    pre {
      white-space: pre-wrap;
      line-height: 145%;
    }
  }

  > div.navigateLoad {
    $spinner-size: 26px;
    $spinner-fade-duration: 0.1s;

    bottom: 10px;
    position: fixed;
    right: 10px;
    z-index: 99;

    /* By Sam Herbert (@sherb), for everyone. More @ http://goo.gl/7AJzbL */
    background: url('data:image/svg+xml;utf8,<svg width="38" height="38" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a"><stop stop-color="%23fff" stop-opacity="0" offset="0%"/><stop stop-color="%23fff" stop-opacity=".631" offset="63.146%"/><stop stop-color="%23fff" offset="100%"/></linearGradient></defs><g fill="none" fill-rule="evenodd"><g transform="translate(1 1)"><path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(%23a)" stroke-width="2"><animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite" /></path><circle fill="%23fff" cx="36" cy="18" r="1"><animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite" /></circle></g></g></svg>');
    background-size: $spinner-size $spinner-size;
    width: $spinner-size;
    height: $spinner-size;
    transition: opacity $spinner-fade-duration;
    transition: opacity $spinner-fade-duration ease-in-out;
    transition: opacity $spinner-fade-duration ease-in-out;
    opacity: 0;
  }

  > div.tableContainer[is-active-filter] > table > tbody > tr.filtered {
    display: none;
  }

  @include mixins.media-query("screen", "isMobile") {
    > div.tableContainer > table > thead > tr > {
      th:first-child {
        padding-left: 4px !important;
      }
    }
  }

  > div.tableContainer > table {
    > thead > tr {
      padding: 4px 10px 2px;
      background-color: #15161e;
      border-bottom: 2px solid #151822;
    }

    > tbody > tr {
      padding: 0 10px;
    }

    > tbody > tr,
    > thead > tr {
      width: 100%;

      &:not(.hid-row) {
        display: flex;
      }

      &.directory > td > a {
        color: map.get(variables.$root, "color-a-regular");
      }

      &.parent {
        > td {
          padding-top: 8px;
        }

        > td > a {
          color: map.get(variables.$root, "color-a-parent");
        }
      }

      &.file > td:first-child,
      &.parent > td:first-child,
      &.directory > td:first-child {
        padding-right: 5px;
      }

      &.file {
        > td {
          > a {
            &:not(.preview) {
              color: map.get(variables.$root, "color-a-file");

              &:visited {
                color: map.get(variables.$root, "color-a-file-visited");
              }
            }

            &.preview {
              color: map.get(variables.$root, "color-a-media");

              &:hover {
                color: map.get(variables.$root, "color-a-media-hover");
              }

              &:visited {
                color: map.get(variables.$root, "color-a-media-visited");
              }
            }
          }
        }

        > td.download > a {
          &:visited {
            color: map.get(variables.$root, "color-a-download-visited");
          }

          color: map.get(variables.$root, "color-a-download");
        }
      }

      > td {
        padding: 7px 0;
      }

      > th,
      > td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 5px 0;

        &:last-child {
          text-transform: capitalize;
        }
      }

      @include mixins.media-query("screen", "isMobile") {
        padding: 0 4px;
      }
    }

    @for $i from 1 through 4 {
      > tbody > tr > td:nth-child(#{$i}),
      > thead > tr > th:nth-child(#{$i}) {
        /* Mobile values < 768px width */
        @include mixins.media-query("screen", "isMobile") {
          padding-left: 4px !important;

          $width: list.nth(map.get(variables.$table-sizing, "mobile"), $i);

          width: $width;
          max-width: $width;
          min-width: $width;
        }

        /* Desktop values > 768px width */
        @include mixins.media-query("screen", "isDesktop") {
          $width: list.nth(map.get(variables.$table-sizing, "desktop"), $i);

          width: $width;
          max-width: $width;
          min-width: $width;
        }
      }
    }

    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    background-color: map.get(variables.$root, "color-background-table");

    > thead > tr > th {
      @include mixins.fonting(
        $key: "table-header",
        $align: left,
        $spacing: 1px,
        $color-scope: variables.$root,
        $color-key: "color-header-table"
      );

      padding: 4px 0 6px 1px;

      /* Mobile styling */
      @include mixins.media-query("screen", "isMobile") {
        font-size: 10px;
      }

      > span[sortable] {
        cursor: pointer;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      > span.sortingIndicator {
        $indicator-fade-duration: 0.5s;

        cursor: default;
        text-decoration: none;
        margin-left: 6px;
        opacity: 0;
        transition: opacity $indicator-fade-duration;

        &.visible {
          opacity: 1;
        }

        &.up::after {
          content: "\2191";
        }

        &.down::after {
          content: "\2193";
        }
      }
    }

    > tbody > tr > td {
      @include mixins.fonting(
        $key: "row-file",
        $weight: 500,
        $spacing: 1px
      );

      text-decoration: none;
      padding: 5px 0;

      @include mixins.media-query("screen", "isMobile") {
        font-size: 11px;
      }

      &:nth-child(2),
      &:nth-child(3) {
        font-feature-settings: "tnum";

        @include mixins.fonting(
          $key: "row-num"
        );
      }

      &:nth-child(4),
      &:nth-child(3),
      &:nth-child(2) {
        @include mixins.media-query("screen", "isMobile") {
          font-size: 11px;
        }
      }

      > a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    > tbody {
      padding-top: 1px;
    }
  }

  /* Performance mode values */
  &[optimize] > {
    div.rootGallery > div.galleryContent > div.list > table > tbody {
      > tr.hid-row {
        display: none;
      }

      > tr > td {
        max-width: inherit !important;
      }
    }

    div.tableContainer > table > tbody > tr {
      &.rel-row {
        position: absolute;
      }
    }

    div.rootGallery > div.galleryContent > div.list > table > tbody > tr.rel-row {
      position: absolute;
      left: 0;
      right: 0;

      > td {
        left: 0;
        right: 0;
        position: absolute;
      }
    }

    div.tableContainer > table > tbody > tr.rel-row > td {
      overflow: hidden;
    }

    div.tableContainer > table > tbody > tr.hid-row {
      display: none;
    }
  }

  > div {
    &.preview-container video {
      visibility: hidden;
    }

    /* Preview volume indicator */
    &#indicatorPreviewVolume {
      position: fixed;
      bottom: 10px;
      right: 10px;
      background-color: rgb(0 0 0 / 35%);
      padding: 5px 10px;
      border-radius: 4px;
      pointer-events: none;
      letter-spacing: 1px;
      z-index: 10000;
      font-feature-settings: "tnum";
      transition: opacity 0.33s;
      opacity: 0;
    }

    /* Bottom container */
    &.bottom {
      padding: 8px 0 10px 10px;
      position: relative;
      border-top: 1px solid map.get(variables.$root, "color-border-main");
      color: #3d414a;
      font-size: 13px;
      letter-spacing: 1px;

      > div {
        display: inline-block;
      }

      a {
        text-decoration: none;
        color: #3d414a;

        &:hover {
          color: #3d414a;
          text-decoration: underline;
        }
      }

      > div.currentPageInfo > span.generationTime {
        font-feature-settings: "tnum";
      }

      div {
        &:nth-child(1):not(.referenceGit)::after {
          content: "|";
          margin: 0 10px;
        }

        &:nth-child(2) {
          text-overflow: ellipsis;

          > span {
            display: inline-block;
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
            vertical-align: top;
          }
        }
      }
    }
  }

  /* Path navigator above table */
  > div.path {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: normal;
    font-size: 19px;
    letter-spacing: 1px;
    margin: 20px 0 16px 8px;
    padding-right: 10px;

    > a {
      font-style: normal;
      font-weight: bold;
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  /* Filter container */
  > div.filterContainer {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0;
    border: none;
    box-shadow: 0 0 6px #10151f;

    > input[type="text"] {
      @include mixins.fonting(
        $key: "default",
        $spacing: 1px,
        $color: #fff
      );

      border-radius: 1px;
      padding: 5px 7px 5px 9px;
      background-color: #121216f0;
      height: 24px;
      width: 100%;
      border-top: 2px solid #1d1f27;
      border-left: none;
      border-right: none;
      border-bottom: none;

      @include mixins.media-query("screen", "isMobile") {
        font-size: 12px;
      }

      &:focus {
        outline: none;
      }
    }
  }

  /* Opened settings container */
  > div.settingsContainer {
    min-width: 300px;
    z-index: 4;
    position: fixed;
    right: 20px;
    top: 20px;
    padding-top: 10px;
    border: 1px solid map.get(variables.$root, "color-border-main");
    border-radius: 3px;
    box-shadow: 0 0 10px #0d0d0d;
    font-size: 13px;
    letter-spacing: 1px;
    background-color: #121216f0;

    > .wrapper {
      max-height: 75vh;
      overflow-y: auto;

      > div.section {
        padding: 10px 0;

        > div.header {
          padding: 4px 17px;
          margin-bottom: 14px;
          font-size: 13px;
          color: #797979;
          box-shadow: 0 0 1px #0d0d0d;
          background-color: #17171d;
          border-top: 1px solid #1d1d25;
          border-bottom: 1px solid #1d1d25;
        }

        &:first-child {
          padding-top: 0;
        }

        .option {
          padding: 0 10px;
          display: table;
          width: calc(100% - 20px);
          height: 25px;

          &.interactable {
            cursor: pointer;

            input {
              cursor: pointer;
            }
          }

          &:not(:first-child) {
            margin-top: 10px;
          }

          > div {
            display: table-cell;
            width: 50%;

            &:last-child {
              width: auto;
              text-align: right;
            }
          }
        }
      }
    }

    /* Settings apply and cancel buttons */
    > div.bottom {
      display: table;
      width: 100%;
      margin-top: 4px;
      background-color: #17171d;
      border-top: 1px solid #1d1d25;

      > div {
        text-align: center;
        padding: 6px 7px 8px;
        display: table-cell;
        font-size: 12px;

        &:first-child {
          border-right: 1px solid #1c1c1d;
        }

        &:not(:last-child) {
          border-right: 1px solid #292929;
          width: 50%;
        }

        &:hover {
          cursor: pointer;
          background-color: #1c1c25;
        }
      }
    }
  }

  > div.topBar > div.directoryInfo > div.quickPath {
    max-width: 50vw;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: absolute;
    transition: opacity 0.175s;
    opacity: 0;

    &.visible {
      opacity: 1;
    }

    &:not(.visible) {
      pointer-events: none;
    }

    > a {
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  > div.tableContainer {
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
    background-color: map.get(variables.$root, "color-background-table");
    border-top: 1px solid map.get(variables.$root, "color-border-main");
  }

  > div.bottom > div.referenceGit {
    position: absolute;
    right: 10px;
    font-style: italic;

    > span {
      margin-left: 6px;
    }
  }

  &:not(.compact) > div.bottom {
    > div.referenceGit.single {
      position: relative;
      width: 100%;
      text-align: right;
    }
  }

  &.compact {
    > div {
      &.tableContainer {
        width: 100%;
      }

      &.path {
        font-style: normal;
        font-size: 19px;
        letter-spacing: 1px;
        margin: 24px 0 22px 8px;
        text-align: center;
        user-select: none;
      }

      &.bottom > div.referenceGit.single {
        position: relative;
        width: 100%;
        text-align: right;
      }
    }
  }

  /* Top bar */
  > div.topBar {
    border-bottom: 1px solid #10101085;
    background-color: rgba(18 18 22 / 65%);
    box-shadow: 0 0 3px #0d0d0d;
    padding: 2px 0;
    z-index: 2;
    width: 100%;
    color: #939498;
    max-width: 100%;
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 12px;
    backdrop-filter: blur(3px);

    > div {
      &.directoryInfo {
        @include mixins.fonting(
          $key: "top-bar",
          $spacing: 1px
        );

        display: inline-table;

        > div {
          display: table-cell;
          padding: 6px 8px;
          white-space: nowrap;

          &:not(.quickPath) {
            border-right: 2px solid rgba(255 255 255 / 1%);
          }
        }
      }

      &.extend {
        @include mixins.no-select;

        font-weight: bold;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        vertical-align: middle;
        display: flex;
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        padding: 0 9px;
        font-size: 1.5em;
        border-left: 2px solid #10101085;
        transition: color 0.2s;

        &:hover {
          cursor: pointer;
          background-color: #10101085;
          color: white;
        }

        &[extended] {
          color: map.get(variables.$root, "color-body");
        }
      }
    }
  }

  /* Settings menu */
  > div.menu {
    @include mixins.no-select;

    font-size: 12px;
    visibility: hidden;
    text-align: left;
    position: fixed;
    top: calc(map.get(variables.$gallery, "height-top-bar") - 2px);
    right: 0;
    color: #939498;
    border-bottom: 1px solid map.get(variables.$root, "color-border-settings-menu");
    border-left: 1px solid map.get(variables.$root, "color-border-settings-menu");
    background-color: map.get(variables.$root, "color-background-settings-menu");
    backdrop-filter: blur(map.get(variables.$gallery, "blur-intensity"));
    box-shadow: 0 0 2px #0d0d0d;

    > div {
      padding: 8px 18px 8px 7px;
      border-left: 3px solid transparent;
      cursor: pointer;
      font-size: 13px;
      letter-spacing: 1px;

      &:hover {
        border-left: 3px solid #939393;
        color: #bfbfbf;
        background-color: map.get(variables.$root, "color-background-settings-item-hover");
      }
    }
  }

  &:not([is-loading]) > div.tableContainer > table > tbody > tr:not(.parent):hover {
    background-color: map.get(variables.$root, "color-background-table-hover");
  }

  &:not(.compact) > div.bottom div:nth-child(2) > span {
    max-width: 20vw;
  }

  &.compact > div.bottom div:nth-child(2) > span {
    max-width: 300px;
  }

  /* Focus overlay */
  > div.focusOverlay {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background-color: rgb(0 0 0 / 50%);
    backdrop-filter: blur(1px);
  }

  /* Input selection */
  select:not(.default) {
    display: block;
    color: #fff;
    line-height: 1.3;
    padding: 2px 4px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    box-shadow: 0 1px 0 1px rgb(0 0 0 / 10%);
    border-radius: 2px;
    appearance: none;
    background-color: #20222d;
    border: 1px solid #2c2e39;
  }

  /* Desktop values */
  @include mixins.media-query("screen", "isDesktop") {
    &.compact {
      min-width: map.get(variables.$breakpoints, "mobile-max-width");
      width: auto;
      max-width: 960px;
      margin: 0 auto;
      border: 1px solid map.get(variables.$root, "color-border-main");
      margin-bottom: 20px;
    }
  }

  /* Mobile values */
  @include mixins.media-query("screen", "isMobile") {
    > div.rootGallery > div {
      &.galleryBar {
        font-size: 0.8em !important;
      }

      &.galleryContent {
        .media .loader {
          font-size: 0.8em !important;
          padding: 4px 7px !important;
        }

        .screenNavigate {
          background-color: rgb(0 0 0 / 25%);
          position: absolute;
          padding: 0 1.2vw;
          z-index: 1;
          display: table !important;
          height: 100%;
          font-weight: bold;
          cursor: pointer;

          &.navigateLeft {
            left: 0;

            > span::after {
              content: "\2190";
            }
          }

          &.navigateRight {
            right: 0;

            > span::after {
              content: "\2192";
            }
          }

          > span {
            display: table-cell;
            vertical-align: middle;
          }
        }

        .media {
          > div.item-info-static {
            right: 25px !important;
          }

          .wrapper .cover .reverse {
            font-size: 9px;
            z-index: 2;
          }
        }
      }
    }

    > div.settingsContainer {
      left: 20px;
    }

    [data-view="mobile"] {
      display: unset !important;
    }

    [data-view="desktop"] {
      display: none !important;
    }
  }

  [data-view="mobile"] {
    display: none;
  }

  [data-view="desktop"] {
    display: unset;
  }
}

/* Mobile overrides */
@include mixins.media-query("screen", "isMobile") {
  body {
    > div.tableContainer > table {
      > tbody > tr > td,
      > thead > tr > th {
        padding: 5px 0 !important;
      }

      span.sortingIndicator {
        margin-left: 4px !important;
      }

      font-size: 10px !important;
    }

    > {
      div {
        &.bottom div:nth-child(1)::after {
          content: "" !important;
          margin: none !important;
        }

        &.top {
          font-size: 11px !important;
        }

        &.path {
          font-size: 14px !important;
        }

        &.bottom {
          padding-top: 0;
          margin-bottom: 2px;
          text-align: left;
          font-size: 10px !important;

          div {
            &:nth-child(1),
            &:nth-child(2) {
              margin-top: 9px;
              display: block !important;
            }

            &::before {
              content: "" !important;
            }
          }
        }
      }

      div.topBar > div.extend {
        padding: 0 12px;
      }
    }

    font-size: 10px !important;
    font-size: 11px !important;
    padding: calc(map.get(variables.$gallery, "height-top-bar")) 2px 2px 2px;
  }

  div {
    &.referenceGit {
      text-align: left !important;
      margin-top: 14px;
      position: unset !important;
      right: unset !important;
    }

    &.topBar > div.directoryInfo > div[data-count="directories"] {
      width: 100%;
    }
  }

  .menu > div {
    padding: 10px 18px 10px 7px;
  }
}
