$mobile-width: 640px;

$height-gallery-top-bar: 31px;
$gallery-blur: blur(3px);
$color-gallery-border: #161616de;
$color-gallery-link-download: #6173c5;
$color-gallery-link-download-hover: #6a83f5;
$color-gallery-list-item: #d4d4d4;
$color-gallery-list-item-selected: #fff;

$color-link-download: #6270ae;
$color-link-download-visited: #515978;
$color-link-file: #9b9b9b;
$color-link-file-visited: #757575;
$color-link-media-file: #627be3;
$color-link-media-file-hover: #627be3;
$color-link-media-file-visited: #475282;
$color-link-dir-regular: #f45656;
$color-link-dir-parent: #ffc752;

$color-background-gallery-root: rgb(4, 4, 4, 0.8);
$color-background-gallery-list-selected: #1c2333;
$color-background-gallery-list-selected-hover: #1c2333;
$color-background-gallery-list-item-hover: rgba(44, 54, 81, 0.20);
$color-background-gallery-topbar: #121216d6;
$color-border-gallery-list-selected: #fbfcff;
$width-border-gallery-list-selected: 5px;
$color-gallery-list-item-hover: auto;
$color-gallery-topbar: #fff;

$color-background-body: #0f0f13;
$color-background-table: #121318;
$color-background-settings-menu: #121216f0;
$color-background-settings-item-hover: #17171b;
$color-table-background-color-hover: #17181d8c;
$color-table-header: #fff;
$color-body: #d6d3ce;
$color-border-main: #19191d;
$color-border-settings-menu: #17171b;

$font-size-default: 14px;
$font-size-gallery: 13px;
$font-size-table-header: 13px;
$font-size-top-bar: 12px;
$font-size-row-num: 13px;
$font-size-row-file: 13px;