@charset "UTF-8";

:root
{
  --gallery-top-bar-height: 31px;
  --gallery-border-color: #161616de;
}

.blur
{
	filter: blur(3px);
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
}


.gallery-container div.content-container .list table tr td,
.gallery-container div.bar .right span[data-action]
{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.gallery-container
{
	font-family: 'LiberationMonoRegular';
  
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	max-height: 100vh;
	max-width: 100vw;
	z-index: 1000;

	background-color: rgba(0, 0, 0, 0.5);
}

.gallery-container div.bar
{
	height: calc(var(--gallery-top-bar-height) - 2px);
	max-height: calc(var(--gallery-top-bar-height) - 2px);
	min-height: calc(var(--gallery-top-bar-height) - 2px);
	background-color: #181818ab;
	border-bottom: 2px solid var(--gallery-border-color);
	padding-top: 1px;
	width: 100%;
	display: table;
}

.gallery-container div.bar div
{
	display: table-cell;
	vertical-align: middle;
}

.gallery-container div.bar .right
{
	padding-right: 10px;
	text-align: right;
	white-space: nowrap;
	width: 1%;
}

.gallery-container div.bar .right a.download
{
	color: #4975ff;
	text-decoration: none;
}

.gallery-container div.bar .right a.download:hover
{
	color: #6389ff;
	text-decoration: underline;
}

.gallery-container div.bar .right *:not(:last-child)
{
	margin-right: 3px;
}

.gallery-container div.bar .right a.download,
.gallery-container div.bar .right span[data-action]
{
	cursor: pointer;
}

.gallery-container div.bar .right a.download::before,
.gallery-container div.bar .right span[data-action]::before
{
	content: '[';
}

.gallery-container div.bar .right a.download::after,
.gallery-container div.bar .right span[data-action]::after
{
	content: ']';
}

.gallery-container div.bar .left
{
	padding: 0px 10px 0px 10px;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	max-width: 0px; /* fixes text-overflow somehow */
}

.gallery-container div.bar .left a
{
	color: #fff;
	text-decoration: none;
}

.gallery-container div.bar .left a:hover
{
	text-decoration: underline;
}

.gallery-container div.content-container
{
	display: table;
	width: 100vw;

	height: calc(100vh - var(--gallery-top-bar-height));
}

.gallery-container div.content-container .media
{
	display: table-cell;
	text-align: center;
	width: 100%;
	vertical-align: middle;
	position: relative;
}

.gallery-container div.content-container .media .reverse
{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 10px;
	background-color: rgba(0, 0, 0, 0.70);
	display: none;
	color: #848484;
	padding: 5px 5px 5px 5px;
	pointer-events: none;
}

.gallery-container div.content-container .media .reverse a
{
	color: white;
	text-decoration: none;
	pointer-events: auto;
	padding: 0px 1px 0px 1px;
}

.gallery-container div.content-container .media .reverse a:hover
{
	text-decoration: underline;
}

.gallery-container div.content-container .media .loader
{
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: #000000a1;
	padding: 7px 9px 7px 9px;
	border-radius: 2px;
}

.gallery-container div.content-container,
.gallery-container div.content-container .media .wrapper .cover,
.gallery-container div.content-container .media .wrapper,
.gallery-container div.content-container .media .wrapper img,
.gallery-container div.content-container .media .wrapper video,
.gallery-container div.content-container .list
{
	max-height: calc(100vh - var(--gallery-top-bar-height) - 2px);
}

.gallery-container div.content-container .media .wrapper
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	align-items: center;
	justify-content: center;
}

.gallery-container div.content-container .media .wrapper .cover
{
	position: relative;
}

.gallery-container div.content-container .media .wrapper img,
.gallery-container div.content-container .media .wrapper video
{
	object-fit: contain;

	max-width: 100%;

	display: none;
}

.gallery-container div.content-container .media .wrapper video
{
	outline: none;
	border: none;
}

.gallery-container div.content-container .media .wrapper img
{
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
}

.gallery-container div.content-container .media .wrapper .pseudo
{
	max-height: 0px;
	max-width: 0px;
}

.gallery-container div.content-container .list
{
	display: table-cell;

	background-color: #151515a6;
	border-left: 2px solid var(--gallery-border-color);

	max-width: 350px;
	min-width: 275px;
	width: auto;

	height: calc(100vh - var(--gallery-top-bar-height));

	float: right;

	overflow-y: scroll;
	overflow-x: hidden;
}

.gallery-container div.content-container .list table
{
	width: 100%;
	max-width: 100%;
}

.gallery-container div.content-container .list table tr td
{
	padding: 5px 4px 5px 6px;
	cursor: pointer;
	max-width: 285px;
	overflow: hidden;
	white-space: nowrap; 
	text-overflow: ellipsis;
	border-left: 3px solid transparent;
}

.gallery-container div.content-container .list table tr.selected td
{
	border-left: 3px solid #fbfcff;
	background-color: #1b3b88;
}

.gallery-container div.content-container .list table tr:not(.selected):hover
{
	background-color: #1f1f1f6b;
}

.gallery-container div.content-container .screen-nav
{
	display: none;
}

@media only screen and (max-width: 640px)
{
	.gallery-container div.bar
	{
		font-size: 0.8em!important;
	}

	.gallery-container div.content-container .media .loader
	{
		font-size: 0.8em!important;
		padding: 4px 7px 4px 7px!important;
	}

	.gallery-container div.content-container .screen-nav
	{
		background-color: rgba(0, 0, 0, 0.25);
		position: absolute;
		padding: 0px 1.2vw 0px 1.2vw;
		z-index: 1;
		display: table!important;
		height: 100%;
		font-weight: bold;
		cursor: pointer;
	}

	.gallery-container div.content-container .media .reverse
	{
		font-size: 9px;
	}

	.gallery-container div.content-container .media .reverse
	{
		padding: 4px;
	}

	.gallery-container div.content-container .screen-nav.left
	{
		left: 0;
	}

	.gallery-container div.content-container .screen-nav.right
	{
		right: 0;
	}

	.gallery-container div.content-container .screen-nav span
	{
		display: table-cell;
		vertical-align: middle;
	}

	.gallery-container div.content-container .media .reverse
	{
		z-index: 2;
	}
}