html > body {
    background-color: #21212b!important;
}

html > body > div.topBar {
    background-color: transparent!important;
    border-bottom: 1px solid hsla(246, 10%, 19.6%, 0.52)!important;
    box-shadow: none!important;
    color: #acacac!important;
}

body > div.topBar > div.extend:hover {
    background-color: hsla(231.4, 23.3%, 23.5%, 0.52)!important;
}

body > div.topBar > div.extend {
    border-left: 2px solid hsla(220, 6.5%, 18%, 0.52)!important;
}

body > div.tableContainer > table > tbody > tr.file > td > a:not(.preview),
html > body > div.tableContainer > table > thead > tr.file > td > a:not(.preview) {
    color: #bdbdbd!important;
}

html > body > div.tableContainer,
body > div.tableContainer > table {
    background-color: #171a24!important;
}

html > body > div.tableContainer {
    border-top: 1px solid #1c1c24!important;
}

body > div.tableContainer > table > thead > tr {
    background-color: #1c1e2b!important;
    border-bottom: 1px solid #202431!important;
}

body > div.tableContainer > table tr.file a.preview, body > div.tableContainer > table tr.file a.preview:hover {
    color: #46a9ca!important;
}

body > div.tableContainer > table tr.file a.preview:visited {
    color: #3f7486!important;
}

body > div.tableContainer > table tr.directory a {
    color: #75f7b4!important;
}

body > div.tableContainer > table tr.parent a {
    color: #f9f871!important;
}

body > div.tableContainer > table tr.file td.download a {
    color: #4792ac!important;
}

body > div.tableContainer > table tr.file td.download a:visited {
    color: #406e7d!important;
}

body > div.tableContainer > table > tbody > tr:not(.parent):hover {
    background-color: rgb(32, 36, 51)!important;
}

body.compact > div.path {
    text-align: center!important;
}

body > div.path a {
    color: #7efff1!important;
    font-weight: normal!important;
}

.rootGallery
{
    background-color: rgba(15, 18, 19, 0.8)!important;
}

.rootGallery > div.galleryBar
{
    background-color: rgba(32, 39, 51, 0.7)!important;
    border-bottom: 2px solid hsla(211.8, 20%, 16.7%, 0.87)!important;
}

.rootGallery > div.galleryContent > div.list
{
    background-color: #171a24!important;
}

.rootGallery div.galleryContent .list table tr.selected td {
    background-color: rgb(34, 38, 53)!important;
}

.rootGallery div.galleryContent .list table tr.selected td:hover {
    background-color: rgb(34, 38, 53)!important;
}

.rootGallery div.galleryContent .list table tr:not(.selected) td:hover {
    background-color: rgb(34, 38, 53)!important;
}

.rootGallery div.galleryBar .galleryBar__right a.download {
    color: #4792ac!important;
}

body > div.menu {
    background-color: transparent!important;
}

body > div.menu > div:hover {
    background-color: rgba(83, 125, 138, 0.04)!important;
}

body > div.bottom
{
    color: #9f9f9f!important;
}

html > body > div.bottom a {
    color: #82a5b3!important;
}

html > body > div.bottom a:hover {
    color: #8bbcd0!important;
}